@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: palevioletred;
}

.card {
  background-color: bisque;
  text-align: center;
  font-size: 80px;
  margin: auto;
  margin-top: 50px;
  height: 70vh;
  width: 20vw;
  display: flex;
  justify-content: space-between;
}

.card::before {
  font-size: 50px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.card::after {
  font-size: 50px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.card.spade:before,
.card.spade:after {
  content: "\2660";
}
.card.heart:before,
.card.heart:after {
  content: "\2665";
  color: red;
}
.card.diamond:before,
.card.diamond:after {
  content: "\2666";
  color: red;
}
.card.club:before,
.card.club:after {
  content: "\2663";
}
